body{
    background-color: #232323;
    font-family: 'Montserrat', sans-serif;
}

.cuadro{
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 10%;
}

.contenedor{
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
    background-color: #232323;
}
h1{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.botones{
    background-color: white;
    text-align: center;
    height: 30px;
}